body {
	margin-top: 3%;
	display: grid;
	justify-items: center;
	background-color: rgba(252, 150, 89, 1);
	background-image: linear-gradient(90deg, rgba(252, 150, 89, 1) 0%, rgba(84, 41, 86, 1) 100%);
}
.header {
	text-align: center;
}
.container {
	width: 60%;
	height: 900px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
	background-color: white;
	margin: auto;
}
.Kalkulator-box {
	margin-left: 15%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 2px;
	grid-row-gap: 2px;
}
.header-box-left {
	padding: 20px;
	grid-area: 1 / 1 / 2 / 4;
}
.form-one {
	width: 70%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
	background-color: white;
	padding: 20px;
	grid-area: 2 / 1 / 3 / 4;
}
.form-two {
	width: 70%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
	background-color: white;
	padding: 20px;
	grid-area: 3 / 1 / 4 / 4;
}
.form-three {
	width: 70%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
	background-color: white;
	padding: 20px;
	grid-area: 4 / 1 / 5 / 4;
}
.form-four {
	width: 70%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
	background-color: white;
	padding: 20px;
	grid-area: 5 / 1 / 6 / 4;
}
.a-button-average-cost-equal {
	width: 40%;
	color: black;
	background-color: grey;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 20px;
	font-size: 16px;
	padding: 6px;
	right: auto;
	margin-bottom: 50px;
	display: block;
	text-align: center;
	cursor: pointer;
	grid-area: 6 / 1 / 7 / 4;
}
.a-button-average-cost-equal.isActive {
	opacity: 0;
}
span#resultCostTravel.formOne-result {
	opacity: 0;
	grid-area: 7 / 1 / 7 / 4;
}
span#resultCostTravel.formOne-result.isActive {
	opacity: 1;
	width: 40%;
	color: yellow;
	background-color: grey;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 20px;
	font-size: 16px;
	padding: 12px;
	right: auto;
	margin-bottom: 50px;
	display: block;
	text-align: center;
	cursor: pointer;
	grid-area: 6 / 1 / 7 / 4;
}
.header-box-right {
	padding: 20px;
	grid-area: 1 / 4 / 2 / 7;
}
.form-five {
	width: 70%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
	background-color: white;
	padding: 20px;
	grid-area: 2 / 4 / 2 / 7;
}
.form-six {
	width: 70%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
	background-color: white;
	padding: 20px;
	grid-area: 3 / 4 / 3 / 7;
}
.form-seven {
	width: 70%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
	background-color: white;
	padding: 20px;
	grid-area: 4 / 4 / 4 / 7;
}
.a-button-average-combustion-equal {
	width: 40%;
	color: black;
	background-color: grey;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 20px;
	font-size: 16px;
	padding: 2px;
	right: auto;
	margin-bottom: 50px;
	display: block;
	text-align: center;
	cursor: pointer;
	grid-area: 6 / 4 / 6 / 7;
}
.a-button-average-combustion-equal.isActive {
	opacity: 0;
}

span#resultAvarageCombustion.formTwo-result {
	display: none;
	grid-area: 7 / 4 / 7 / 7;
}
span#resultAvarageCombustion.formTwo-result.isActive {
	opacity: 1;
	width: 40%;
	color: yellow;
	background-color: grey;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 20px;
	font-size: 14px;
	margin-bottom: 50px;
	display: block;
	padding: 4px;
	text-align: center;
	cursor: pointer;
	grid-area: 7 / 4 / 6 / 7;
}

span#resultCost.formThree-result {
	display: none;
	grid-area: 7 / 4 / 7 / 7;
}
span#resultCost.formThree-result.isActive {
	opacity: 1;
	width: 40%;
	color: yellow;
	box-sizing: border-box;
	border-radius: 20px;
	font-size: 14px;
	margin-top: 28px;
	margin-bottom: 50px;
	display: block;
	text-align: center;
	cursor: pointer;
	grid-area: 7/ 4 /6/ 7;
}
